@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
#controls {
  position: absolute;
  margin: auto;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  z-index: 100;
}
#controls > div {
  color: aliceblue;
}
#controls > * {
  font-size: x-large;
}

@font-face {
  font-family: "ReceiptionalReceipt";
  src:
    local("ReceiptionalReceipt"),
    url("./fonts/ReceiptionalReceipt.ttf") format("truetype");
}
